<?xml version="1.0" encoding="UTF-8"?>
<suite name="Analytics Message Tracer Handler Test Suite" parallel="methods" thread-count="1">
    <test name="Analytics Message Tracer Handler Tests">
        <classes>
            <class name="org.wso2.carbon.analytics.message.tracer.handler.HandlerUtilsTest"/>
        </classes>
    </test>
</suite>
