#resultsPane {
  height: 15em;
  overflow: auto;

  background: #ffffff;
  /*border: #3b3512 solid 1px;*/
  margin: 10px;
}

#resultsPane table {
	/*border: 1px solid #b1b1b1;*/
	padding:10px;
}

#resultsPane table td{
	/*border: 1px solid #b1b1b1;*/
	padding-top:10px;
	padding-left:10px;
}

.error {
	color: #ff0000;
}

#terminalArea {
    height: 50em;
    overflow: auto;

    /*background: #000000;*/
    /*border: #3b3512 solid 1px;*/
    margin: 1px;
}
#terminalArea {
    height: 50em;
    overflow-y: auto;

    background: #000000;
    /*border: #3b3512 solid 1px;*/
    margin: 1px;
}