<?xml version="1.0" encoding="UTF-8"?>
<suite name="RDBMS Analytics Data Source Test Suite" parallel="methods" thread-count="1">
   <parameter name="mysql.url"  value="jdbc:mysql://localhost/bam3"/>
   <parameter name="mysql.username"  value="root"/>
   <parameter name="mysql.password"  value="root"/>
   <test name="Analytics RDBMS Impl. Tests">
     <classes>     
       <!--class name="org.wso2.carbon.analytics.datasource.core.MySQLInnoDBAnalyticsDataSourceTest"/>
       <class name="org.wso2.carbon.analytics.datasource.core.MySQLMyISAMAnalyticsDataSourceTest"/-->
       <class name="org.wso2.carbon.analytics.datasource.core.H2FileDBAnalyticsDataSourceTest"/>
       <class name="org.wso2.carbon.analytics.datasource.core.H2MemDBAnalyticsDataSourceTest"/>
       <class name="org.wso2.carbon.analytics.datasource.core.AnalyticsDataServiceTest"/>
     </classes>
   </test>
</suite>
