<?xml version="1.0" encoding="UTF-8"?>
<suite name="Analytics Data Engine Test Suite" parallel="methods" thread-count="1">
    <test name="Analytics Data Engine Tests">
        <classes>
            <class name="org.wso2.carbon.analytics.engine.SparkAnalyticsEngineTestBase"/>
        </classes>
    </test>
</suite>
