<?xml version="1.0" encoding="UTF-8"?>
<suite name="H2 Analytics Data Source Test Suite" parallel="methods" thread-count="1">
   <parameter name="url"  value="jdbc:h2:~/bam3_test"/>
   <parameter name="username"  value="wso2carbon"/>
   <parameter name="password"  value="wso2carbon"/>
   <test name="Analytics Test">
     <classes>     
       <class name="org.wso2.carbon.analytics.datasource.rdbms.h2.H2AnalyticsDataSourceTest" />
     </classes>
   </test>
</suite>
