/** Canvas related styles | -> End **/
/*//////////////////////////////////////////////////*/

body {
    font-size: 1.4rem;
}

h4,
.h4 {
    font-size: 1.8rem;
}

h3,
.h3 {
    font-size: 2rem;
}

.canvas-container{
    background-color: #fff;
    height: 100%;
}

header .brand h1 {
    font-size: 1.5rem;
    text-transform: inherit;
    display: inline;
    font-weight: 450;
    vertical-align: middle;
}

.header {
    min-height: 40px;
}

header .brand {
    line-height: 40px;
    padding: 10px 10px 0 10px;
    vertical-align: middle;
    margin-right: 25px;
}

.menu-bar {
    height: 30px;
}

.menu-group {
    line-height: 30px;
    font-size: 1.4rem;
    padding: 0;
    min-height: initial;
}

.menu-bar .menu-group a:hover {
    background-color: #383838;
    color: #fff;
}

.menu-bar .menu-group a {
    transition: all 250ms ease 0s;
    line-height: 40px;
    padding: 0 8px;
    display: block;
}

.dropdown-menu {
    top: 94%;
}

.menu-group.open {
    background-color: #02aaad;
}

.menu-bar .menu-group.open a {
    color: #fff;
    font-weight: 300;
}

.dropdown-menu {
    font-size: 1.4rem;
    background: #333;
}

.dropdown-menu > .menu-item-enabled > a {
    font-weight: 300;
}

.menu-bar .menu-group.open a:hover {
    background-color: #02aaad;
}

.menu-bar .menu-group .dropdown-menu > li > a:hover,
.menu-bar .menu-group .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #02aaad;
    background-color: #000000;
}

.closeTab {
    margin: 0 0 0 15px;
    font-size: 18px;
}

.menu-bar .menu-group ul a {
    line-height: 27px;
}

/* Editor Custom Styles */
.ws-tab-pane .ace-twilight .ace_string {
    color: #629755;
}

.ws-tab-pane .ace-twilight .ace_keyword,
.ws-tab-pane .ace-twilight .ace_meta {
    color: #9876aa;
}

.ws-tab-pane .ace-twilight .ace_support {
    color: #ffc66d;
}

.ws-tab-pane .ace-twilight .ace_constant,
.ws-tab-pane .ace-twilight .ace_constant.ace_character,
.ws-tab-pane .ace-twilight .ace_constant.ace_character.ace_escape,
.ws-tab-pane .ace-twilight .ace_constant.ace_other,
.ws-tab-pane .ace-twilight .ace_heading,
.ws-tab-pane .ace-twilight .ace_markup.ace_heading,
.ws-tab-pane .ace-twilight .ace_support.ace_constant {
    color: #cc7832;
}

.ws-tab-pane .ace-twilight .ace_comment {
    color: #808080;
}

.ws-tab-pane .ace-twilight .ace_numeric {
    color: #6897BB;
}

.ws-tab-pane .ace_annotation {
    color: #BBB529;
}

a {
    color: #02aaad;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #02979a;
    text-decoration: none;
    background-color: transparent;
}

.body-welcome-container h2 {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 5px;
}

.body-welcome-container {
    height: 200px;
}

ul li,
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.footer {
    background: #282b2f;
    min-height: 20px;
    height: 20px;
}

/* single simulator fixes */

.single_configs button.close  {
    position: static;
    line-height: 20px;
    font-size: 21px;
}

.error {
    color: #d9534f;
}

header.header-default {
    background: #282b2f;
}

.form-control[disabled], .form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #333333;
    border-color: #3f3f3f;
}

.ui-widget-content {
    background: #16191D;
    color: #fefefe;
    border: 1px solid #535353;
}

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default, .ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    background: #303030;
    border: 1px solid #585858;
    color: #fff;
}

.ui-widget-header {
    background: #222222;
    border: 1px solid #585858;
    color: #fff;
}

.ui-datepicker-calendar th span {
    color: #fefefe;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background: #fffa90 ;
    border: 1px solid #dad55e;
    color: #777620;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active, .ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: normal;
    color: #fff;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border: 1px solid #cccccc;
    background: #ededed;
    font-weight: normal;
}

.ui-datepicker .ui-icon {
    left: 50%;
    top: 50%;
}

.ace_editor .ace_tooltip {
    background: #636363;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    color: #fefefe;
    padding: 10px;
    white-space:normal;
}

.btn {
    font-size: 1.4rem;
}

/* Cross platform */

@media (min-width: 1440px) and (max-width: 1679px) {
    html {
        font-size: 8px;
    }
}
@media (min-width: 1680px) and (max-width: 1919px) {
    html {
        font-size: 9px;
    }
}

.btn-default {
    background: #2c2c2c;
    color: #fff;
    text-transform: capitalize;
}

.btn-default:hover {
    background: #464646;
    color: #fff;
}

.btn-primary {
    background-color: #02aaad;
    border-color: #02aaad;
    color: #fff;
    text-transform: capitalize;
}

.btn-primary:hover {
    background-color: #027f82;
    border-color: #027f82;
    color: #fff;
}

#clear_confirmation_modal_for_create .modal-dialog {
    width: 500px;
}

.dark.text-muted {
    color: #555;
}

.notifications {
    color: #f0ad4e;
    margin: 10px;
}

.switch-toggle {
    display: block;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    position: relative;
}
.switch-toggle::after {
    clear: both;
    content: "";
    display: table;
}
.switch-toggle *, .switch-toggle *::before, .switch-toggle *::after {
    box-sizing: border-box;
}
.switch-toggle a {
    display: block;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-out;
}
.switch-toggle label, .switch-toggle > span {
    line-height: 2em;
}
.switch-toggle input:focus ~ span a, .switch-toggle input:focus + label {
    outline-color: highlight;
    outline-style: solid;
    outline-width: 2px;
}

.switch-toggle input {
    left: 0;
    opacity: 0;
    position: absolute;
}
.switch-toggle input + label {
    display: block;
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0;
    position: relative;
    text-align: center;
    z-index: 2;
}
.switch-toggle a {
    height: 100%;
    left: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    top: 0;
    width: 10px;
    z-index: 1;
}
.switch-toggle label:nth-child(2):nth-last-child(4), .switch-toggle label:nth-child(2):nth-last-child(4) ~ label, .switch-toggle label:nth-child(2):nth-last-child(4) ~ a {
    width: 50%;
}
.switch-toggle label:nth-child(2):nth-last-child(4) ~ input:checked:nth-child(3) + label ~ a {
    left: 50%;
}
.switch-toggle label:nth-child(2):nth-last-child(6), .switch-toggle label:nth-child(2):nth-last-child(6) ~ label, .switch-toggle label:nth-child(2):nth-last-child(6) ~ a {
    width: 33.33%;
}
.switch-toggle label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(3) + label ~ a {
    left: 33.33%;
}
.switch-toggle label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(5) + label ~ a {
    left: 66.66%;
}
.switch-toggle label:nth-child(2):nth-last-child(8), .switch-toggle label:nth-child(2):nth-last-child(8) ~ label, .switch-toggle label:nth-child(2):nth-last-child(8) ~ a {
    width: 25%;
}
.switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(3) + label ~ a {
    left: 25%;
}
.switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(5) + label ~ a {
    left: 50%;
}
.switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(7) + label ~ a {
    left: 75%;
}
.switch-toggle label:nth-child(2):nth-last-child(10), .switch-toggle label:nth-child(2):nth-last-child(10) ~ label, .switch-toggle label:nth-child(2):nth-last-child(10) ~ a {
    width: 20%;
}
.switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(3) + label ~ a {
    left: 20%;
}
.switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(5) + label ~ a {
    left: 40%;
}
.switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(7) + label ~ a {
    left: 60%;
}
.switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(9) + label ~ a {
    left: 80%;
}
.switch-toggle label:nth-child(2):nth-last-child(12), .switch-toggle label:nth-child(2):nth-last-child(12) ~ label, .switch-toggle label:nth-child(2):nth-last-child(12) ~ a {
    width: 16.6%;
}
.switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(3) + label ~ a {
    left: 16.6%;
}
.switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(5) + label ~ a {
    left: 33.2%;
}
.switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(7) + label ~ a {
    left: 49.8%;
}
.switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(9) + label ~ a {
    left: 66.4%;
}
.switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(11) + label ~ a {
    left: 83%;
}

.switch-ios.switch-toggle {
    background-color: #d8d9db;
    border-radius: 0;
    box-shadow: 2px 0px 1px 2px rgba(32, 31, 31, 0.1);
    border: 3px solid #d8d9db;
}

.switch-ios.switch-toggle a {
    background-color: #2196F3;
    border-color: #d8d9db;
    border-radius: 0;
    transition-delay: 0s;
    transition-duration: 0.12s;
    transition-property: all;
    transition-timing-function: ease-out;
}
.switch-ios.switch-toggle label {
    color: #253841;
    height: 1.6em;
    line-height: 1.6em;
    vertical-align: middle;
    cursor: pointer;
}
.switch-ios input:checked + label {
    color: #fff;
    cursor: default;
}

.siddhi_app_mode_config h5 {
    color: #ccc;
}

.app-list {
    margin-bottom: 5px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ace_search.right {
    max-width: 340px;
}

.ace_search .ace_searchbtn {
    width: 30px;
    padding: 0 5px;
}

.modalSettings .modal-dialog {
    width: 500px;
}

.modalSettings .modal-dialog hr {
    margin-bottom: 15px;
}

body.sticky-footer {
    padding-bottom: 20px;
}

.jstree-default .jstree-wholerow-clicked,
.jstree-default .jstree-wholerow-hovered {
    background: #161616;
}

.alert {
    border-radius: .25rem;
    margin-right: 20px;
}

/* Query form styles */
.query-form-actions > .btn {
    margin-right: 5px;
}

.design-view-form-content .table-bordered,
.design-view-form-content .table-bordered > thead > tr > th,
.design-view-form-content .table-bordered > tbody > tr > td {
    border-color: #222;
}

/* Bootstrap overrides */
.well {
    border: none;
}

.table .table {
    background-color: transparent;
}

.selected-element {
    z-index:500 !important;
}

.overlayed-container {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 90;
    background: rgba(90, 90, 90, 0.5);
}

.removeOverflow {
    overflow: unset !important;
}

.docker-export-file-tree {
    border: 1px solid #444;
    padding: 5px;
    background-color: #2C2C2C;
    overflow: auto;
    min-height: 200px;
    max-height: 550px;
}

/*Popover element changes*/
.popOver {
    width: 400px;
    max-width: 450px;
    top: -54.5px;
    left: 53px;
    display: block;
    z-index: 300;
    padding: 1px 1px;
}
.popover-footer {
    margin: 3px -9px 1px 0px;
    padding: 2px 12px 32px;;
}

.popover-body-message {
    text-align: justify;
    margin: -46px 0px 0px 55px;
    padding: 5px 1px 0px 1px;
}

.popover-alert-icon {
    text-align: left;
    margin: -7px 327px 1px 1px;
    padding: 1px 0px 1px 3px;
    font-size: 44px;
    color: red;
}

h3.popover-title {
    color: black;
    font-weight: 400;
}

.btn.btn_no {
    background-color: #02aaad;
    color: #000000;
    border: 1px solid;
    border-color: #02aaad;

}
.btn.btn_yes {
    background-color: #b3b2b2;
    color: #000000;
    border: 1px solid #b3b2b2;
    border-color: #b3b2b2;

}

.btn.btn_no:hover {
    background-color: #027f82;
    color: #000000;
}

.btn.btn_yes:hover {
    background-color: #a4a0a0;
    color: #000000;
}

.btn.btn_no:focus {
    border: 2px solid #02cacd;
}

.btn.btn_yes:focus {
    border: 2px solid #9e9a9a;
}

.btn-xs {
    padding: 1px 25px 1px 25px;
    float: right;
    margin: 5px;
}

.jtk-overlay {
    z-index: 100;
}

.selected-element {
    z-index: 150 !important;
}

/*Hiding the 'properties' icon when click the delete button*/
.selected-element .element-prop-icon, .selected-element .partition-element-prop-icon {
    display: none !important;
}

.selected-element .element-close-icon {
    display: inline !important;
}

.siddhi-app-templates {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
}
