
.tool-palette-container {
    border-right: 1px solid #c9c9c9;
    background-color: #fff;
    height: 100%;
    width: 152px;
    overflow-y: auto;
    padding-bottom: 20px
}

.tool-group {
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
    overflow: hidden;
}

.tool-container {
    width: 55px;
    height: 55px;
    margin: 3px;
    float: left;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 3px;
    white-space: nowrap;
    text-align: center;
    background: #fff;
}

.tool-image {
    max-width: 40px;
    max-height: 40px;
    display: block;
    margin: auto;
}

.tool-title {
    color: #131313;
    font-weight: 500;
    margin: 0 0 0 -2px;
    font-size: 9PX;
}

.tool-validator {
    height: 40px;
    color: darkred;
    display: none;
}

.tool-container > .tool-image {
    max-width: 30px;
    max-height: 30px;
    display: block;
    margin: 2px auto;
    opacity: 0.7;
}

.design-view-container ::-webkit-scrollbar {
    width: 8px;
}

.design-view-container ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.design-view-container ::-webkit-scrollbar-thumb {
    background: #888;
}

.design-view-container ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.tool-group-header {
    cursor: pointer;
    padding: 2px 1px;
    background: whitesmoke;
    border-bottom: 1px solid #e4e4e4;
}

.tool-group-header-title {
    padding: 5px;
    width: 100%;
}

.tool-group-header-title:hover {
    cursor: pointer;
    color: black;
}

.tool-group-body {
    overflow: hidden;
    padding: 2px;
}

.collapse-icon {
    float: right;
    padding-top: 3px;
    font-size: 10px;
    margin-right: 10px;
    color: #8d8d8d;
}

a.tool-group-header-title {
    color: #333;
    text-decoration: none;
    font-size: 11px
}
