<?xml version="1.0" encoding="UTF-8"?>
<suite name="Cassandra Analytics Data Source Test Suite" parallel="false" preserve-order="true" thread-count="1">
   <test name="Cassandra Tests">
     <classes>
        <class name="org.wso2.carbon.analytics.datasource.cassandra.CassandraAnalyticsRecordStoreTest"/>
        <class name="org.wso2.carbon.analytics.datasource.cassandra.CassandraAnalyticsDataServiceTest"/>        
        <class name="org.wso2.carbon.analytics.datasource.cassandra.CassandraUtilsTest"/>
     </classes>
   </test>
</suite>
