/*
 * Base structure
 */

.signin {
    margin: 0 auto;
    max-width: 300px;
}
/*/
/* gridster
/*/

.gridster ul li {
    list-style: none;
}
.gridster * {
    margin: 0;
}
#canvas {
    position: inherit;
}
a.btn-control span {
    font-size: 10px;
    padding: 0;
    margin-right: 8px;
    margin-left: 5px;
}
/*
* Styles for wizard
*/

.blank-slate-message {
    padding: 40px 15px;
    text-align: center;
}

/*
* Demo styles
*/
.grid-item a:hover {
    text-decoration: none;
}

.btn-grid-btn {
    margin-top: 5px;
}


.plus {
    height: 226px;
    vertical-align: middle;
}