.tab-headers-bar > ul > li {
    font-weight: 100;
    margin: 0;
    min-width: 120px;
    padding: 0 17px 0 5px;
    background: #161616;
    border-left: 2px solid #000;
}

.tab-headers-bar > ul > li:first-child {
    border: 0;
}

.tab-headers-bar > ul > li.active {
    background: #424242;
    color: #eee;
}

.tab-headers-bar > ul > li.active > a,
.tab-headers-bar > ul > li.active > a:focus,
.tab-headers-bar > ul > li.active > a:hover {
    background: none;
    border: 0;
}

.tab-headers-bar > ul > li > a {
    color: #bdbdbd;
    border: none;
    padding: 0 5px 0 6px;
    margin: 0;
    background: none;
    font-weight: 300;
    font-size: 0.9em;
    line-height: 20px;
}

.tab-headers-bar > ul > li > a:focus,
.tab-headers-bar > ul > li > a:hover {
    background: none;
}

.tab-headers-bar > ul > li > button.close {
    font-size: 16px;
    right: 4px;
    top: 0;
    color: inherit;
    font-weight: 100;
    line-height: 14px;
    opacity: 0.5;
    position: absolute;
}

.tab-headers-bar > ul > li > button:hover {
    color: #fff;
}

.source-view-enabled {
    display: block;
    height: 100%;
    width: 100%;
}

.hide-div {
    display: none;
}

.tab-headers-bar .nav-tabs {
    background: #000;
}

.tab-headers-bar .nav-tabs {
    border-bottom: 1px solid #424242;
}

.tab-headers-bar > a.close-all {
    padding-left: 5px;
    padding-right: 15px;
    color: #bdbdbd;
    font-size: 11px;
    line-height: 20px;
    font-style: italic;
}

.tab-headers-bar > a.close-all:focus,
.tab-headers-bar > a.close-all:hover {
    color: #fff;
}

.nav-tab-header.run-state,
.nav-tab-header.debug-state {
    padding-left: 17px;
}

.nav-tab-header.run-state:before,
.nav-tab-header.debug-state:before {
    font-size: 9px;
    font-family: 'font-wso2';
    position: absolute;
    left: 10px;
    top: 4px;
}

.nav-tab-header.run-state:before {
    content: '\e718';
    color: #8BC34A;
}

.nav-tab-header.debug-state:before {
    content: '\e611';
    color: #FF7043;
}
