<?xml version="1.0" encoding="UTF-8"?>
<suite name="Analytics Data Service Test Suite" parallel="methods" thread-count="1">
    <test name="Analytics Data Service Tests">
        <classes>
            <class name="org.wso2.analytics.dataservice.test.h2.AnalyticsDataServiceTest"/>
        </classes>
    </test>
</suite>
