.node g div {
    height: 30px;
    line-height: 30px;
}

.name-info {
    white-space: nowrap;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.op-name-info {
    color: #3d35d5;
}

.exp-name-info{
    color: #d50e1b;
}

.qr-name-info{
    color: #000000
}

.name {
    white-space: nowrap;
}

.type {
    height: 30px;
    width: 10px;
    display: block;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 4px;
}

.infoType {
    background-repeat: no-repeat;
    background-position: 5px 50%;
    width: 15px;
}

svg {
    overflow: hidden;
}

text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
}

.node rect {
    stroke-width: 1px;
    stroke: #707070;
    fill: #F0F0F0;
}

.edgeLabel rect {
    fill: #fff;
}

.edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}