<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
<servlet-name>abServlet</servlet-name>
<servlet-class>org.eclipse.abServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>abServlet</servlet-name>
<url-pattern>/abServlet</url-pattern>
</servlet-mapping> 

  <servlet>
        <servlet-name>ImageServlet</servlet-name>
    <servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
</servlet>
 
<servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/servlets/image</url-pattern>
</servlet-mapping>


  <welcome-file-list>
    <welcome-file>parameters.jsp</welcome-file>
  </welcome-file-list>
</web-app>