<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <meta name="viewport" content="width=device-width">
    <!--<meta name="theme-color" content="#000000">-->
    <link rel="manifest" href="{{@contextPath}}/public/app/resources/manifest.json">
    <link rel="shortcut icon" href="{{@contextPath}}/public/app/resources/favicon.ico">
    <title>Business Rules Manager</title>
  </head>
  <body style="overflow: auto !important; margin: 0">
    <div id="root"></div>
  </body>
  <script type="text/javascript">var contextPath = "{{@contextPath}}";</script>
  <script src="{{@contextPath}}/public/app/js/bundle.js" type="text/javascript"></script>
</html>
