.left-tool-bar .nav-tabs a {
    padding: 0;
}

.left-tool-bar .nav-tabs > li {
    float: none;
    width: 42px;
}

.left-tool-bar .nav-tabs li.active a {
    border: none;
}

.left-tool-bar .nav-tabs {
    border: none;
}

.left-tool-bar .nav-tabs > li.active > a, .left-tool-bar .nav-tabs > li.active > a:hover, .left-tool-bar .nav-tabs > li.active > a:focus,
.left-tool-bar .nav-tabs > li > a:hover, .left-tool-bar .nav-tabs > li > a:focus {
    background-color: inherit;
}

.left-tool-bar .nav-tabs li a {
    padding-top: 11px;
    border: none;
    width: 40px;
    height: 36px;
}

.left-tool-bar .nav-tabs > li.active i {
    opacity: 1;
}

.left-tool-bar .nav-tabs > li i {
    color: white;
    opacity: 0.4;
}

.left-tool-bar .nav-tabs > li:hover i {
    opacity: 1;
    cursor: pointer;
}

.console-panel-activate-btn.active i {
    color: #02aaad;
    opacity: 1;
}

.console-panel-activate-btn.disabled {
    cursor: not-allowed;
}

.console-panel-activate-btn.disabled i {
    opacity: 0.2;
    cursor: not-allowed;
}

.left-tool-bar .nav-tabs li.active a.output-console-activate-btn i,
.left-tool-bar .nav-tabs li.active a.output-console-activate-btn:hover i {
    color: #02979a;
}

.left-tool-bar .nav-tabs li.disabled a.output-console-activate-btn i,
.left-tool-bar .nav-tabs li.disabled a.output-console-activate-btn:hover i {
    color: #333333;
}

.left-tool-bar .nav-tabs li.active a.output-console-activate-btn {
    background: none !important;
}

.nav-tabs > li.active > a.event-simulator-activate-btn.disabled,
.nav-tabs > li.active > a.event-simulator-activate-btn.disabled:hover,
.nav-tabs > li.active > a.event-simulator-activate-btn.disabled:focus,
.nav-tabs > li.active > a.event-simulator-activate-btn.disabled i {
    cursor: not-allowed;
}
