<div class="form-group" id="accessTokenButton">
    <button type="button" id="requestAccessToken" class="btn btn-primary btn-bordered pull-left">
                                <span class="fw-stack fw-lg">
                                    <i class="fw fw-circle-outline fw-stack-2x"></i>
                                </span>Request Access Token
    </button>
    <br>
</div>
<br>
<br>