.design-container {
    height: 100%;
    width: 100%;
}

.design-container-data {
    padding: 10px;
}

.colour-key {
    float: right;
}

.colour-key-table {
    color: white;
    font-size: 20px;
    text-align: left;
}

.colour-key-table td {
    padding: 5px;
}

.colour-key-table span {
    width: 15px;
    height: 15px;
    float: left;
    margin: 5px;
}

.siddhi-app-name {
    color: white;
    font-size: 40px;
    padding-top: 10px;
}

.siddhi-app-description {
    color: white;
    font-size: 20px;
}

.graph-container {
    width: 100%;
    height: 85%;
    overflow: scroll;
}

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #282828;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 20% 0;
}

.siddhi-graph {
    padding: 30px;
}

.node rect {
    stroke: #bbb;
    fill: #333;
    stroke-width: 2px;
}

.edgePath path {
    stroke: #bbb;
    stroke-width: 2px;
    fill: none;
}

.node-content {
    height: 30px;
    line-height: 30px;
}

.indicator {
    height: 30px;
    width: 20px;
    display: block;
    float: left;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-right: 5px;
}

.nodeLabel {
    font-weight: 100;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
}

.partition {
    font-weight: 100;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 24px;
    color: #000;
}

.stream-colour {
    background-color: violet;
}

.table-colour {
    background-color: indigo;
}

.window-colour {
    background-color: blue;
}

.trigger-colour {
    background-color: green;
}

.aggregation-colour {
    background-color: yellow;
}

.function-colour {
    background-color: orange;
}

.query-colour {
    background-color: red;
}

.partition-type-colour {
    background-color: #e0e0d1;
}

.toggle-controls-container {
    position: absolute;
    bottom: 2%;
    right: 2%;
    z-index: 1;
}

.toggle-view-button {
    border-radius: 5px;
    transition: 0.15s;
    font-weight: bold;
    color: white;
    background-color: #f57e30;
}

.toggle-view-button:hover {
    color: #333;
    transition: 0.15s;
}
