.design-container {
    height: 100%;
    width: 100%;
}

.design-container-data {
    padding: 10px;
}

.legend {
    color: #fff;
    font-size: 14px;
    text-align: left;
    float: right;
    width: 100%;
    max-width: 440px;
    padding: 10px;
    background: #333;
}

.legend-key {
    padding: 0 5px;
    display: inline-block;
}

.legend-text {
    line-height: 24px;
    font-size: 12px;
}

.legend-colour {
    width: 15px;
    height: 15px;
    float: left;
    margin: 5px;
}

.siddhi-app-name {
    color: #fff;
    font-size: 1.8rem;
    text-transform: capitalize;
}

.siddhi-app-description {
    color: #fff;
    font-size: 1.4rem;
}

.graph-container {
    width: 100%;
    overflow: scroll;
}

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #282828;
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding: 20% 0;
}

.siddhi-graph {
    padding: 30px;
}

.node rect {
    stroke: #bbb;
    fill: #333;
    stroke-width: 2px;
    height: 30px;
}

.edgePath path {
    stroke: #bbb;
    stroke-width: 2px;
    fill: none;
}

.node-content {
    height: 30px;
    line-height: 30px;
}

.indicator {
    height: 28px;
    width: 15px;
    display: block;
    float: left;
    margin: 1px 10px 1px 1px;
}

.nodeLabel {
    font-size: 1em;
    color: #fff;
    margin-right: 10px;
    font-weight: 500;
}

.partition {
    font-size: 20px;
    color: #d3d3d3;
    padding-top: 5px;
}

.stream-colour {
    background-color: #2196F3;
}

.source-colour {
    background-color: #30A6AB;
}

.sink-colour {
    background-color: #9C382F;
}

.table-colour {
    background-color: #8BC34A;
}

.window-colour {
    background-color: #009688;
}

.trigger-colour {
    background-color: #F44336;
}

.aggregation-colour {
    background-color: #FF9800;
}

.function-colour {
    background-color: #FF5722;
}

.query-colour {
    background-color: #9C27B0;
}

.partition-type-colour {
    background-color: #FFEB3B;
}

.toggle-controls-container {
    position: absolute;
    bottom: 2%;
    right: 2%;
    z-index: 1;
}

.toggle-view-button {
    transition: 0.15s;
    font-weight: bold;
    color: white;
    background-color: #f57e30;
}

.toggle-view-button:hover {
    color: #333;
    transition: 0.15s;
}

.toggle-button-text {
    padding-left: 5px;
}

.nodes .label {
    text-align: left;
}
