/** contains css for export save dialog **/
.export-dialog-form-scrollable-block {
    padding: 20px 20px;
    overflow: auto;
    height: 50%;
    width: 90%;
    background-color: #2C2C2C;
    margin-left: 30px;
}

.errors-container {
    margin: 50px 20px 20px 20px;
}

hr.style1 {
    border-top: 1px solid #2C2C2C;
    width: 100%;
    padding: 0 0 5px;
}

.export-dialog {
    width: 93%;
}

.export-dialog .modal-body {
}

.export-dialog .modal-body .sw-container{
    margin-top: 12px;
}

.export-dialog-title {
    padding:0 0 10px 10px;
}

.export-dialog-label {
    margin-top: 8px;
    margin-left: 20px;
    font-weight: 300;
}

.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}

hr.export-dialog-hr {
    border-top: 1px solid #2C2C2C;
    width: 100%;
}

.export-dialog-form-label {
    margin-top: 8px;
    font-weight: 300;
}

.export-dialog-form-divider {
    height: 10px;
}

.siddhi-app-list {
    display: block;
    overflow: hidden;
    width: 100%;
}

.openDockerWizardError-container {
    padding: 10px 0 10px 0;
    background-color: transparent;
    color: white;
    width: 100%;
}

.export-dialog-form-scrollable-block-list {
    padding: 20px;
    overflow: auto;
    max-height: 200px;
    width: 100%;
    background-color: #2C2C2C;
}

.siddhi-app-template-header {
    background-repeat: no-repeat;
    background-position: 630px;
    text-decoration-color: white;
    background-color: #2C2C2C;
    cursor: pointer;
    width: 100%;
    border: 1px solid black;
    text-align: left;
    outline: none;
    font-size: 15px;
    height: 35px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 15px;
    position: relative;
}

.siddhi-app-template-header:hover {
    color: white;
}


.siddhi-app-template-container{
    height: 80% !important;
}

.config-template-container {
    height: 98% !important
}

.kubernetes-configuration-step {

}
.sub-template-value-element-div .option {
    align-items: center;
    padding: 5px;
}
.sub-template-value-element-div .option > div {
    min-width: 100px;
}
.sub-template-value-element-div .option input {
    color: #000 !important;
    width: 75%;
}

.step-description {
    padding: 10px;
    background-color: transparent;
    transition: background-color 500ms linear;
}

.export-siddhi-app-list {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.export-selector {
    background-color: #2C2C2C !important;
    height: 98% !important;
}

.sw-theme-default > ul.step-anchor.k8_export_header_item li {
    width: 16%;
}

.link-disabled {
    pointer-events: none;
}
