
.tool-palette-container{
    border-right: 1px solid #c9c9c9;
    background-color: #fff;
    height: 100%;
    width: 80px;
    overflow-y: scroll;
}

.tool-group{
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
    overflow: hidden;
    padding: 0 9px 10px 9px;
}

.tool-container {
    width: 50px;
    height: 50px;
    margin: 3px;
    float: left;
    cursor: pointer;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    padding: 3px;
    white-space: nowrap;
    text-align: center;
}

.tool-image {
    max-width:40px;
    max-height:40px;
    display : block;
    margin : auto;
}

.tool-title {
    padding-top:0px;
    color: white;
    display : none;
    margin : auto;
}

.tool-validator{
    height: 40px;
    color: darkred;
    display:none;
}