
.tool-palette-container{
    border-right: 1px solid #c9c9c9;
    background-color: #e7eaeb;
    height: 100%;
    width: 156px;
    overflow-y: auto;
}

.tool-group{
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
    overflow: hidden;
    padding: 10px;
}

.tool-container {
    width: 39px;
    height: 39px;
    margin: 3px;
    float: left;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 3px;
    white-space: nowrap;
    text-align: center;
    background: #fff;
}

.tool-image {
    max-width:40px;
    max-height:40px;
    display : block;
    margin : auto;
}

.tool-title {
    padding-top:0px;
    color: white;
    display : none;
    margin : auto;
}

.tool-validator{
    height: 40px;
    color: darkred;
    display:none;
}

.tool-container > .tool-image{
    max-width: 23px;
    max-height: 24px;
    display: block;
    margin: 4px 0 0 4px;
    opacity: 0.7;
}
