<?xml version="1.0" encoding="UTF-8"?>
<suite name="HDFS Analytics Data Source Test Suite" parallel="methods" thread-count="1">
    <test name="Analytics HBase Implementation Tests">
        <classes>
            <!-- tests are disabled by default because Hadoop and HDFS instances need to be configured
            and running for the tests to be successful. -->
            <!--<class name="org.wso2.carbon.analytics.datasource.hbase.HBaseAnalyticsRecordStoreTest"/>-->
            <!--<class name="org.wso2.carbon.analytics.datasource.hbase.HBaseAnalyticsDataServiceTest"/>-->
        </classes>
    </test>
</suite>
