.async-api-modal-body {
    width: 100%;
    height: 200px;
    border: 1px solid black;
}

.async-api-view-yaml-container {
    width: calc(50% - 2px);
    float: left;
    overflow-y: auto;
    height: 100%;
}

.async-api-view-spec-container {
    width: calc(50% - 2px);
    float: right;
    /*border: 1px solid red;*/
    height: 100%;
    overflow: scroll;
}

.async-api-generator-container {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: scroll;
}

.async-api-generator-container label:not(.skip) {
    color: #fff;
}

.async-api-generator-container h4 {
    color: #fff;
}

.async-api-generator-container .button-container {
    margin-left: 15px;
}

.async-api-generator-container textarea {
    margin-bottom: 10px;
}

.async-api-generator-container input[type=radio] {
    margin-right: 5px;
    margin-left: 5px;
}

.clear-fix {
    clear: both;
}

.asyncAPi {
    right: 650px;
}

.async-api-source-sink-list {
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 10px;
}

.toggle-view-button:hover, .async-api-view-button:hover {
    color: #fff;
    transition: 0.15s;
}

.toggle-view-button, .async-api-view-button {
    transition: 0.15s;
    font-weight: bold;
    color: #333;
    width: 100%;
    background-color: #6aa53f;
    margin-bottom: 10px;
}

.toggle-view-button, .async-api-add-update-button {
    transition: 0.15s;
    font-weight: bold;
    color: #333;
    width: 100%;
    background-color: #f47b20;
    margin-bottom: 10px;
}

.toggle-view-button:hover, .async-api-add-update-button:hover {
    color: #fff;
    transition: 0.15s;
}

.toggle-view-button, .asyncbtn-to-code-view {
    transition: 0.15s;
    font-weight: bold;
    color: #333;
    width: 100%;
    background-color: #6aa53f;
    margin-bottom: 10px;
}

.toggle-view-button:hover, .asyncbtn-to-code-view:hover {
    color: #fff;
    transition: 0.15s;
}

.asyncapitooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.asyncapi__channels > div {
    background: rgba(51 122 183 0.3);
}

.asyncapi .text-sm {
    font-size: 1.0rem;
}
