.etl-task-wizard-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.etl-task-wizard-container .etl-task-wizard-canvas {
    position: relative;
    height: 100%;
    background-color: rgb(24, 26, 27);
}

.etl-task-wizard-container .popup-backdrop {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(12, 12, 12, 0.5);
    z-index: 1;
}

/* Data mapper related styles */
.listContainer {
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.1);
}

.listContainer .heading {
    padding: 10px;
    font-family: inherit;
    font-size: 16px;
    text-align: center;
    background: lightgray;
    color: #333;
}

.listContainer.inputs .heading {
    font-weight: 600;
}

.listContainer.outputs .heading {
    font-weight: 700;
}

.listContainer.inputs {
    margin-left: 2%;
    margin-top: 1%;
}

.listContainer.outputs {
    right: 5%;
    top: 1%;
    height: 96%;
    width: 45%;
}

.listContainer .attributeList li .attribute {
    border-bottom: 1px solid rgba(102, 102, 102, 0.2);;
    padding-left: 5px;
    opacity: 0.8;
    font-weight: 600;
}

.listContainer.outputs .attributeList li .attribute {
    padding-bottom: 20px;
    font-size: 1.8rem;
    opacity: 1;
    color: #d6d3cd;
    position: relative;
    cursor: pointer;
}

.listContainer.outputs .attributeList li .attribute .clear-icon {
    position: absolute;
    right: 5px;
    top: 2px;
    color: #d6d3cd;
}

.listContainer.inputs .attributeList li .attribute .attrib-type {
    font-size: 12px;
    font-weight: 300;
}

.listContainer.outputs .attributeList li .attribute .attrib-type {
    font-size: 12px;
    font-weight: 300;
    width: 10%;
    position: absolute;
}

.listContainer.outputs .attributeList li .attribute .mapped-expression {
    font-size: 13px;
    position: absolute;
    right: 0;
    padding-right: 5px
}

.float {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20px;
    /*right:40px;*/
    font-size: 24px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 40px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 22px;
}

/* Direct Mapping Dialog */
.etl-task-wizard-container .popup-backdrop .mapping-generation-dialog {
    background: #333;
    height: fit-content;
    width: 70%;
    margin-left: 15%;
    padding-bottom: 30px;
    position: absolute;
    box-shadow: 3px 3px #2c2c2c59;
}

.mapping-generation-dialog {
    color: white;
}

.mapping-generation-dialog .dialog-heading {
    height: 50px;
    padding-left: 5%;
    padding-bottom: 7%;
    padding-top: 1%;
    font-size: 19px;
}

.mapping-generation-dialog .dialog-body .map-generation-content {
    height: 70px;
}

.mapping-generation-dialog .dialog-body .map-generation-content div {
    float: left;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}

.mapping-generation-dialog .dialog-body .map-generation-content div select {
    color: #000;
    width: 100%;
}

.mapping-generation-dialog .dialog-body .map-generation-content div input {
    color: #000;
    width: 100%;
}

.mapping-generation-dialog .btn-tray .btn-primary {
    float: right;
    margin-right: 5%
}

.mapping-generation-dialog .btn-tray .btn-default {
    float: right;
    margin-right: 2%;
    background: #232323;
}
