<?xml version="1.0" encoding="UTF-8"?>
<suite name="RDBMS Analytics Data Source Test Suite" parallel="false" preserve-order="true" thread-count="1">
   <parameter name="mysql.url"  value="jdbc:mysql://localhost/bam3"/>
   <parameter name="mysql.username" value="root"/>
   <parameter name="mysql.password" value="root"/>
   <test name="Analytics Core Tests">
     <classes>     
       <!--class name="org.wso2.carbon.analytics.datasource.rdbms.mysql.MySQLInnoDBAnalyticsRecordStoreTest"/-->
       <!--class name="org.wso2.carbon.analytics.datasource.rdbms.mysql.MySQLInnoDBAnalyticsDataSourceTest"/-->
       <class name="org.wso2.carbon.analytics.datasource.rdbms.h2.H2FileDBAnalyticsRecordStoreTest"/>
       <class name="org.wso2.carbon.analytics.datasource.rdbms.h2.H2FileDBAnalyticsFileSystemTest"/>
       <class name="org.wso2.carbon.analytics.datasource.rdbms.h2.H2MemDBAnalyticsRecordStoreTest"/>
       <class name="org.wso2.carbon.analytics.datasource.rdbms.h2.H2MemDBAnalyticsFileSystemTest"/>
       <class name="org.wso2.carbon.analytics.datasource.rdbms.AnalyticsDataServiceStandaloneTest"/>
       <class name="org.wso2.carbon.analytics.datasource.rdbms.AnalyticsDataServiceClusteredTest"/>
       <!--class name="org.wso2.carbon.analytics.datasource.rdbms.AnalyticsSparkSQLTest"/>
       <class name="org.wso2.carbon.analytics.datasource.rdbms.AnalyticsSparkSQLUITest"/-->
     </classes>
   </test>
</suite>
